In [17]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

database_name = 'scooters'    # Fill this in with your scooter database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

scooters = create_engine(connection_string)

In [22]:
#- Are there any null values in any columns in either table?
some_null = '''
SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'scooters'
ORDER BY ORDINAL_POSITION

'''
result = scooters.execute(some_null)

fucksake = pd.read_sql(some_null, con = scooters)
fucksake

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,scooters,public,scooters,pubdatetime,1,None,YES,timestamp without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,scooters,public,scooters,latitude,2,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,scooters,public,scooters,longitude,3,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,scooters,public,scooters,sumdid,4,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,scooters,public,scooters,sumdtype,5,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,scooters,public,scooters,chargelevel,6,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,scooters,public,scooters,sumdgroup,7,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,scooters,public,scooters,costpermin,8,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,scooters,public,scooters,companyname,9,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [23]:
some_null = '''
SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'trips'
ORDER BY ORDINAL_POSITION

'''
result = scooters.execute(some_null)

fucksake = pd.read_sql(some_null, con = scooters)
fucksake

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,scooters,public,trips,pubtimestamp,1,None,YES,timestamp without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,scooters,public,trips,companyname,2,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,scooters,public,trips,triprecordnum,3,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,scooters,public,trips,sumdid,4,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,scooters,public,trips,tripduration,5,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,scooters,public,trips,tripdistance,6,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,scooters,public,trips,startdate,7,None,YES,date,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,scooters,public,trips,starttime,8,None,YES,time without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,scooters,public,trips,enddate,9,None,YES,date,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
9,scooters,public,trips,endtime,10,None,YES,time without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
10,scooters,public,trips,startlatitude,11,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
11,scooters,public,trips,startlongitude,12,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
12,scooters,public,trips,endlatitude,13,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
13,scooters,public,trips,endlongitude,14,None,YES,numeric,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
14,scooters,public,trips,triproute,15,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
15,scooters,public,trips,create_dt,16,None,YES,timestamp without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [34]:
some_null = '''
SELECT *
FROM scooters
WHERE sumdgroup	IS NULL
'''
result = scooters.execute(some_null)

fucksake = pd.read_sql(some_null, con = scooters)
fucksake

Empty DataFrame
Columns: [pubdatetime, latitude, longitude, sumdid, sumdtype, chargelevel, sumdgroup, costpermin, companyname]
Index: []